.nav-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    
}
.nav-items{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    
}
.nav-items h3{
    color:rgb(66, 80, 83);
    font-weight: 550;
    font-size: 30px;
    color: aliceblue;
}
.nav-items h3:hover{
    color: rgb(228, 59, 56);
}
.title{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 550;
    font-size: 30px;
    padding: 10px;
    color: aqua;
}
.title img{
    width: 80px;
    border-radius: 50px;
}
.book-button{
    padding: 15px;;
}
.book-button button{
    width:200px;
    height: 50px;
    background-color: rgb(29, 153, 220);
    border-radius: 10px;
    border: 1px solid rgb(7, 210, 241);
    font-size: 20px;
    cursor: pointer;
    box-shadow: 5px 3px 2px rgb(122, 124, 124) ;
}
.book-button button:hover{
    transform: scale(1.08);
    transition: all 0.8s;
}